{
  "openapi": "3.1.0",
  "info": {
    "title": "VeriWorkly API",
    "version": "1.0.0",
    "description": "The official API reference for VeriWorkly.\n\n### Authentication Methods\n\nVeriWorkly supports two authentication methods:\n\n#### 1. API Key Authentication (recommended for scripts and integrations)\nFor programmatic access, send your key either way — both are accepted:\n\n- `X-API-Key: vw_...`\n- `Authorization: Bearer vw_...`\n\nA key is **required** for any request that does not originate from a whitelisted VeriWorkly\norigin, including requests made from these documentation pages.\n\n- **Format**: `vw_` followed by 64 hexadecimal characters.\n- **Rate limit**: 20 requests per 15 minutes per key by default, configurable per key at\n  creation. Responses carry `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and\n  `X-RateLimit-Reset`.\n- **Scopes**: keys are scope-gated. A key missing a route's required scope gets `403`. Session\n  callers are never scope-gated.\n\n#### 2. Session Authentication (dashboard only)\nUsed internally by the VeriWorkly dashboard and resume builder, via secure HTTP-only cookies\nissued by Better Auth.\n\n- **Cookies**:\n  - Local: `veriworkly-auth.session_token`\n  - Production: `__Secure-veriworkly-auth.session_token`\n- **Note**: sessions are only honoured for whitelisted origins. Send `credentials: 'include'`\n  (fetch) or `withCredentials: true` (axios). Requests from these documentation pages **must**\n  use an API key.\n\n#### Endpoints that need neither\nOnly `GET /api/v1/health` and `GET /api/v1/health/ready` are fully open. Everything else —\nincluding the endpoints labelled \"public\", such as public portfolios and share links — still\nrequires an API key or a whitelisted first-party origin, and returns `401` without one.\n\n### Response Envelope\n\nEvery endpoint under `/api/v1` except the Better Auth routes at `/api/v1/auth/*` returns\n`{ success, message, data }` on success and `{ success, message, statusCode, details? }` on\nfailure. Better Auth endpoints return their own payload shapes.\n"
  },
  "servers": [
    { "url": "https://api.veriworkly.com", "description": "Production Server" },
    { "url": "http://localhost:8080", "description": "Local Development" }
  ],
  "tags": [
    { "name": "Health", "description": "Service health and readiness checks." },
    { "name": "Users", "description": "Operations related to authenticated users." },
    { "name": "Roadmap", "description": "Operations related to roadmap." },
    {
      "name": "Changelog",
      "description": "Published release notes, filtering, and contributor statistics."
    },
    { "name": "GitHub", "description": "GitHub issues, pull requests, and repository statistics." },
    {
      "name": "Authentication",
      "description": "Authentication operations using email OTP and sessions."
    },
    { "name": "API Keys", "description": "Operations related to managing personal API keys." },
    {
      "name": "Profile",
      "description": "The authenticated user's master profile — the single source of truth new documents are seeded from."
    },
    {
      "name": "Profile Import",
      "description": "Importing a master profile from GitHub (real OAuth) or LinkedIn (AI-parsed paste)."
    },
    {
      "name": "Documents",
      "description": "CRUD for resumes, cover letters, portfolios, and link-in-bio documents."
    },
    {
      "name": "ATS",
      "description": "Deterministic and AI-assisted ATS resume scanning against a job description."
    },
    {
      "name": "AI",
      "description": "AI-powered content generation actions and their credit costs."
    },
    {
      "name": "Portfolios",
      "description": "Public portfolio pages, drafts, publishing, and analytics."
    },
    {
      "name": "Portfolio Assets",
      "description": "Presigned image uploads for portfolio avatars, project covers, and social images."
    },
    {
      "name": "Billing",
      "description": "Subscriptions, AI credit wallet, and Dodo Payments checkout/portal sessions."
    },
    {
      "name": "Shares",
      "description": "Public, optionally password-protected share links for documents."
    },
    {
      "name": "Affiliates",
      "description": "Affiliate enrollment, referrals, commissions, and withdrawals. Off by default in production behind a feature flag."
    },
    {
      "name": "Ambassador",
      "description": "Campus ambassador program application intake. Off by default in production behind a feature flag."
    }
  ],
  "paths": {
    "/api/v1/health": {
      "get": {
        "tags": ["Health"],
        "operationId": "healthCheck",
        "summary": "Liveness Check",
        "description": "Lightweight liveness probe. Confirms the API process is up and responding.\n\nIt deliberately touches **no** external dependency — no database query, no Redis command — so\nthat frequent uptime polling does not keep database compute awake. It therefore cannot report\non PostgreSQL or Redis, and never returns `503`. For dependency health use\n`GET /api/v1/health/ready`.\n\nThis is the only truly public endpoint on the API: it requires no session, no API key, and no\nfirst-party origin.\n",
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthLivenessResponse" },
                "example": {
                  "success": true,
                  "message": "Server is healthy",
                  "data": { "status": "ok", "timestamp": "2026-04-26T10:00:00.000Z" }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health/ready": {
      "get": {
        "tags": ["Health"],
        "operationId": "healthReady",
        "summary": "Readiness Check",
        "description": "Deep readiness probe for deploy gates and manual diagnostics. Runs a `SELECT 1` against\nPostgreSQL and a `PING` against Redis, and returns `503` if either is unreachable.\n\nBecause it wakes database compute on every call, prefer `GET /api/v1/health` for routine\nuptime monitoring. Like the liveness probe, it requires no authentication.\n",
        "responses": {
          "200": {
            "description": "Database and Redis are both reachable",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthReadyResponse" },
                "example": {
                  "success": true,
                  "message": "Server is healthy",
                  "data": {
                    "status": "ok",
                    "database": "connected",
                    "redis": "connected",
                    "timestamp": "2026-04-26T10:00:00.000Z"
                  }
                }
              }
            }
          },
          "503": {
            "description": "The database or Redis could not be reached. The response carries no diagnostic detail —\nthe underlying error is logged server-side only.\n",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "statusCode": 503, "message": "Service Unavailable" }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "tags": ["Users"],
        "operationId": "getCurrentUser",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Get Current User",
        "description": "Retrieves account metadata for the currently authenticated user. Requires the `user:read`\nscope when called with an API key.\n\nThis returns identity metadata only — resume, cover letter, and portfolio content is never\nexposed here. Results are cached for 30 minutes and refreshed on write.\n",
        "responses": {
          "200": {
            "description": "User information fetched successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserResponse" },
                "example": {
                  "success": true,
                  "message": "User information fetched successfully",
                  "data": {
                    "id": "cmnu7awv4000063lk18zpon2m",
                    "name": "VeriWorkly User",
                    "username": "veriworkly-user",
                    "email": "info@veriworkly.com",
                    "emailVerified": true,
                    "autoSyncEnabled": false,
                    "createdAt": "2026-04-11T10:37:35.584Z",
                    "updatedAt": "2026-04-25T19:35:44.409Z",
                    "_count": { "apiKeys": 2, "shareLinks": 4, "resumes": 4 }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "statusCode": 404, "message": "User not found" }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/name": {
      "put": {
        "tags": ["Users"],
        "operationId": "updateUserName",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Update User Name",
        "description": "Updates the display name of the authenticated user. Requires the `user:write` scope when\ncalled with an API key.\n\nThe email address is read-only through this API. Leading and trailing whitespace is trimmed\nbefore validation.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Name cannot be null or empty when updating."
                  }
                }
              },
              "example": { "name": "VeriWorkly" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User name updated successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserResponse" },
                "example": {
                  "success": true,
                  "message": "User name updated successfully",
                  "data": {
                    "id": "cmnu7awv4000063lk18zpon2m",
                    "name": "VeriWorkly User New Name",
                    "username": "veriworkly-user",
                    "email": "info@veriworkly.com",
                    "emailVerified": true,
                    "autoSyncEnabled": false,
                    "createdAt": "2026-04-11T10:37:35.584Z",
                    "updatedAt": "2026-04-26T02:00:00.000Z",
                    "_count": { "apiKeys": 2, "shareLinks": 4, "resumes": 4 }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "emptyName": {
                    "summary": "Name is empty",
                    "value": {
                      "success": false,
                      "statusCode": 400,
                      "message": "Validation failed",
                      "details": [{ "path": "name", "message": "Name cannot be empty" }]
                    }
                  },
                  "nameTooLong": {
                    "summary": "Name too long",
                    "value": {
                      "success": false,
                      "statusCode": 400,
                      "message": "Validation failed",
                      "details": [{ "path": "name", "message": "Name is too long" }]
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      }
    },
    "/api/v1/users/me/username": {
      "put": {
        "tags": ["Users"],
        "operationId": "setUsername",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Set Username",
        "description": "Claims the authenticated user's username. Requires the `user:write` scope when called with an\nAPI key.\n\nThe username is the public identifier in share-link URLs (`/share/{username}/{slug}`) and, for\naccounts holding `custom_subdomain`, the published-portfolio subdomain — so a user cannot\ncreate a share link until one is set.\n\n**A username can only be set once.** Once the account has one, this endpoint rejects any\ndifferent value with `409 Username is locked and cannot be changed`. Re-sending the value the\naccount already holds is a no-op and returns `200`, so the call is safe to retry.\n\nThe submitted value is **normalised before validation**: lowercased, non-`[a-z0-9_-]`\ncharacters folded to hyphens, leading/trailing hyphens stripped, and truncated to 32\ncharacters. `Jane.Doe` and `jane-doe` therefore claim the same username. It must survive\nnormalisation as 3–32 characters and must not be a reserved word (`admin`, `api`, `app`,\n`docs`, and similar platform-owned names). Check with\n`GET /users/{username}/availability` before committing.\n\nA successful claim invalidates the caller's cached session so the new username is visible\nimmediately rather than at the end of the session-cache TTL.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["username"],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Normalised server-side before the validity check runs."
                  }
                }
              },
              "example": { "username": "veriworkly-user" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Username updated successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserResponse" },
                "example": {
                  "success": true,
                  "message": "Username updated successfully",
                  "data": {
                    "id": "cmnu7awv4000063lk18zpon2m",
                    "name": "VeriWorkly User",
                    "username": "veriworkly-user",
                    "email": "info@veriworkly.com",
                    "emailVerified": true,
                    "autoSyncEnabled": false,
                    "createdAt": "2026-04-11T10:37:35.584Z",
                    "updatedAt": "2026-04-26T02:00:00.000Z",
                    "_count": { "apiKeys": 2, "shareLinks": 4, "resumes": 4 }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The username failed validation after normalisation.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 400,
                  "message": "Validation failed",
                  "details": [{ "path": "username", "message": "invalid_username" }]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "409": {
            "description": "The username is taken, or this account already has one.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "taken": {
                    "summary": "Claimed by another account",
                    "value": {
                      "success": false,
                      "statusCode": 409,
                      "message": "Username is already taken"
                    }
                  },
                  "locked": {
                    "summary": "This account already has a username",
                    "value": {
                      "success": false,
                      "statusCode": 409,
                      "message": "Username is locked and cannot be changed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/sync": {
      "put": {
        "tags": ["Users"],
        "operationId": "updateAutoSync",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Update Auto-Sync Preference",
        "description": "Turns the account-level background document sync on or off. Requires the `user:write` scope\nwhen called with an API key.\n\nThis is the account-wide switch. It does not override a document's own `keepLocalOnly` flag —\na document opted out individually stays local even with auto-sync on. Turning auto-sync off\ndoes not delete anything already synced; it only stops new local edits from being pushed.\n\nDefaults to `true` on a new account. A successful change invalidates the caller's cached\nsession.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["enabled"],
                "properties": { "enabled": { "type": "boolean" } }
              },
              "example": { "enabled": true }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto sync preference updated successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserResponse" },
                "example": {
                  "success": true,
                  "message": "Auto sync preference updated successfully",
                  "data": {
                    "id": "cmnu7awv4000063lk18zpon2m",
                    "name": "VeriWorkly User",
                    "username": "veriworkly-user",
                    "email": "info@veriworkly.com",
                    "emailVerified": true,
                    "autoSyncEnabled": true,
                    "createdAt": "2026-04-11T10:37:35.584Z",
                    "updatedAt": "2026-04-26T02:00:00.000Z",
                    "_count": { "apiKeys": 2, "shareLinks": 4, "resumes": 4 }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 400,
                  "message": "Validation failed",
                  "details": [{ "path": "enabled", "message": "Expected boolean, received string" }]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      }
    },
    "/api/v1/users/{username}/availability": {
      "get": {
        "tags": ["Users"],
        "operationId": "checkUsernameAvailability",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Check Username Availability",
        "description": "Reports whether a username can be claimed. Intended to drive live feedback in a username\npicker before `PUT /users/me/username` is called.\n\nThis route carries **no API-key scope gate**, unlike the rest of the Users module — but it is\nstill not anonymous, so it needs an API key or a whitelisted first-party origin.\n\nThe path segment is normalised the same way the update endpoint normalises it, and\n`normalizedUsername` echoes back the value that would actually be stored. A `200` with\n`available: false` is the normal negative answer — an unavailable name is not an error.\n",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The candidate username. Normalised server-side before the lookup."
          }
        ],
        "responses": {
          "200": {
            "description": "Username availability fetched successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UsernameAvailabilityResponse" },
                "examples": {
                  "available": {
                    "summary": "Free to claim",
                    "value": {
                      "success": true,
                      "message": "Username availability fetched successfully",
                      "data": { "available": true, "normalizedUsername": "veriworkly-user" }
                    }
                  },
                  "taken": {
                    "summary": "Already claimed",
                    "value": {
                      "success": true,
                      "message": "Username availability fetched successfully",
                      "data": {
                        "available": false,
                        "normalizedUsername": "veriworkly-user",
                        "reason": "taken"
                      }
                    }
                  },
                  "invalid": {
                    "summary": "Fails the username rules",
                    "value": {
                      "success": true,
                      "message": "Username availability fetched successfully",
                      "data": {
                        "available": false,
                        "normalizedUsername": "a",
                        "reason": "too_short"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      }
    },
    "/api/v1/roadmap": {
      "get": {
        "tags": ["Roadmap"],
        "operationId": "getRoadmap",
        "summary": "Get Roadmap Features",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "description": "Fetch roadmap features with optional filtering, sorting, and pagination.\n\nThis endpoint has no user session of its own: call it with an API key holding the\n`roadmap:read` scope, or from a whitelisted first-party origin. A request with neither is\nrejected with `401`.\n",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string", "enum": ["todo", "in-progress", "done"] },
            "required": false,
            "description": "Filter features by status"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["newest", "oldest", "recently-completed"],
              "default": "newest"
            },
            "required": false,
            "description": "Sort order. `recently-completed` orders by completion date (nulls last), then by last\nupdate.\n"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 20 },
            "required": false,
            "description": "Items per page. Values above 50 are rejected with `400`."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0, "default": 0 },
            "required": false,
            "description": "Number of items to skip. Mutually redundant with `page` — `page` wins if both are sent."
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "required": false,
            "description": "1-based page index. An alternative to `offset`."
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50 },
            "required": false,
            "description": "Alternative spelling of `limit`. Takes precedence over `limit` when both are sent."
          },
          {
            "name": "excludeId",
            "in": "query",
            "schema": { "type": "string", "minLength": 1 },
            "required": false,
            "description": "Omit one feature from the results — useful for \"related features\" lists."
          }
        ],
        "responses": {
          "200": {
            "description": "Roadmap features fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoadmapListResponse" },
                "example": {
                  "success": true,
                  "message": "Roadmap features fetched successfully",
                  "data": {
                    "items": [
                      {
                        "id": "feature_1",
                        "title": "AI Resume Builder",
                        "description": "Generate resumes using AI",
                        "status": "in-progress",
                        "eta": "Q3 2026",
                        "tags": ["ai", "resume"],
                        "createdAt": "2026-04-01T00:00:00.000Z",
                        "startedAt": "2026-04-10T00:00:00.000Z",
                        "completedAt": null,
                        "completedQuarter": null,
                        "updatedAt": "2026-04-20T00:00:00.000Z",
                        "timeline": "Started development"
                      }
                    ],
                    "total": 1,
                    "limit": 20,
                    "offset": 0,
                    "page": 1,
                    "pageSize": 20,
                    "totalPages": 1,
                    "hasMore": false,
                    "pagination": { "mode": "offset", "nextOffset": null, "nextCursor": null }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 400,
                  "message": "Validation failed",
                  "details": [
                    { "path": "limit", "message": "Number must be greater than or equal to 1" }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roadmap/stats": {
      "get": {
        "tags": ["Roadmap"],
        "operationId": "getRoadmapStats",
        "summary": "Get Roadmap Stats",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "description": "Retrieve aggregated roadmap statistics.",
        "responses": {
          "200": {
            "description": "Roadmap stats fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoadmapStatsResponse" },
                "example": {
                  "success": true,
                  "message": "Roadmap stats fetched successfully",
                  "data": {
                    "totalFeatures": 10,
                    "todo": 3,
                    "inProgress": 4,
                    "done": 3,
                    "completionRate": "30.00"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roadmap/{id}": {
      "get": {
        "tags": ["Roadmap"],
        "operationId": "getRoadmapFeatureById",
        "summary": "Get Roadmap Feature by ID",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "description": "Fetch detailed roadmap feature by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Feature ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoadmapFeatureResponse" },
                "example": {
                  "success": true,
                  "message": "Feature fetched successfully",
                  "data": {
                    "id": "feature_1",
                    "title": "AI Resume Builder",
                    "description": "Generate resumes using AI",
                    "status": "in-progress",
                    "eta": "Q3 2026",
                    "tags": ["ai"],
                    "createdAt": "2026-04-01T00:00:00.000Z",
                    "startedAt": "2026-04-10T00:00:00.000Z",
                    "completedAt": null,
                    "completedQuarter": null,
                    "updatedAt": "2026-04-20T00:00:00.000Z",
                    "fullDescription": "Full feature details",
                    "whyItMatters": "Improves productivity",
                    "timeline": "In progress",
                    "details": null,
                    "interactions": []
                  }
                }
              }
            }
          },
          "404": {
            "description": "Feature not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "Roadmap feature not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/changelog": {
      "get": {
        "tags": ["Changelog"],
        "operationId": "getChangelogEntries",
        "summary": "Get Changelog Entries",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "description": "Fetch published changelog entries, newest first, with optional filtering and pagination.\n\nThis endpoint has no user session of its own: call it with an API key holding the\n`changelog:read` scope, or from a whitelisted first-party origin. A request with neither is\nrejected with `401`.\n\nResults are cached per query for `CHANGELOG_CACHE_TTL_SECONDS` (default 30 days) and busted\nwhenever an admin writes an entry.\n",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["major", "minor", "patch"] },
            "description": "Filter entries by release type."
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "minLength": 1 },
            "description": "Return only entries carrying this tag."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "minLength": 1, "maxLength": 120 },
            "description": "Case-insensitive substring match against the entry title and summary."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 20 },
            "description": "Items per page. Values above 50 are rejected with `400`."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 0, "default": 0 },
            "description": "Number of items to skip. Redundant with `page` — `page` wins if both are sent."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "description": "1-based page index. An alternative to `offset`."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 50 },
            "description": "Alternative spelling of `limit`. Takes precedence over `limit` when both are sent."
          }
        ],
        "responses": {
          "200": {
            "description": "Changelog entries fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChangelogListResponse" },
                "example": {
                  "success": true,
                  "message": "Changelog entries fetched successfully",
                  "data": {
                    "items": [
                      {
                        "id": "v3-21-0",
                        "version": "3.23.1",
                        "title": "Portfolio template library refresh",
                        "summary": "Signal picks up a new hero and the editor gains section presets.",
                        "type": "minor",
                        "publishedAt": "2026-07-29T10:00:00.000Z",
                        "githubUrl": "https://github.com/VeriWorkly/veriworkly/releases/tag/v3.23.1",
                        "added": ["Section presets in the portfolio editor"],
                        "improved": ["Signal hero spacing on small viewports"],
                        "fixed": ["Duplicate toast on failed publish"],
                        "breaking": [],
                        "security": [],
                        "tags": ["portfolio", "editor"],
                        "prRefs": [
                          {
                            "number": 412,
                            "title": "feat(portfolio): section presets",
                            "url": "https://github.com/VeriWorkly/veriworkly/pull/412",
                            "author": {
                              "login": "octocat",
                              "avatarUrl": "https://avatars.githubusercontent.com/u/583231",
                              "htmlUrl": "https://github.com/octocat"
                            }
                          }
                        ]
                      }
                    ],
                    "total": 1,
                    "limit": 20,
                    "offset": 0,
                    "page": 1,
                    "pageSize": 20,
                    "totalPages": 1,
                    "hasMore": false,
                    "pagination": { "mode": "offset", "nextOffset": null, "nextCursor": null }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 400,
                  "message": "Validation failed",
                  "details": [
                    { "path": "limit", "message": "Number must be less than or equal to 50" }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      }
    },
    "/api/v1/changelog/stats": {
      "get": {
        "tags": ["Changelog"],
        "operationId": "getChangelogStats",
        "summary": "Get Changelog Stats",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "description": "Aggregated release counts by type, the latest published release, and contributor totals\nderived from the pull-request references recorded on each entry.\n\nRequires the `changelog:read` scope when called with an API key.\n",
        "responses": {
          "200": {
            "description": "Changelog stats fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChangelogStatsResponse" },
                "example": {
                  "success": true,
                  "message": "Changelog stats fetched successfully",
                  "data": {
                    "totalEntries": 42,
                    "major": 3,
                    "minor": 18,
                    "patch": 21,
                    "latest": {
                      "version": "3.23.1",
                      "title": "Portfolio template library refresh",
                      "publishedAt": "2026-07-29T10:00:00.000Z"
                    },
                    "contributorCount": 17,
                    "topContributors": [
                      {
                        "login": "octocat",
                        "avatarUrl": "https://avatars.githubusercontent.com/u/583231",
                        "htmlUrl": "https://github.com/octocat",
                        "contributions": 9
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      }
    },
    "/api/v1/changelog/{id}": {
      "get": {
        "tags": ["Changelog"],
        "operationId": "getChangelogEntryById",
        "summary": "Get Changelog Entry by ID",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "description": "Fetch a single changelog entry by its id. Requires the `changelog:read` scope when called\nwith an API key.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The changelog entry id."
          }
        ],
        "responses": {
          "200": {
            "description": "Changelog entry fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChangelogEntryResponse" },
                "example": {
                  "success": true,
                  "message": "Changelog entry fetched successfully",
                  "data": {
                    "id": "v3-21-0",
                    "version": "3.23.1",
                    "title": "Portfolio template library refresh",
                    "summary": "Signal picks up a new hero and the editor gains section presets.",
                    "type": "minor",
                    "publishedAt": "2026-07-29T10:00:00.000Z",
                    "githubUrl": "https://github.com/VeriWorkly/veriworkly/releases/tag/v3.23.1",
                    "added": ["Section presets in the portfolio editor"],
                    "improved": ["Signal hero spacing on small viewports"],
                    "fixed": ["Duplicate toast on failed publish"],
                    "breaking": [],
                    "security": [],
                    "tags": ["portfolio", "editor"],
                    "prRefs": null
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "Changelog entry not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "Changelog entry not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/github/stats": {
      "get": {
        "tags": ["GitHub"],
        "operationId": "getGitHubStats",
        "summary": "Get GitHub Stats",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "description": "Fetch aggregated issue and pull-request statistics for the configured repository, as of the\nlast sync. Served from the last synced snapshot, not live from GitHub — `syncedAt` tells you\nhow fresh it is. Cached for 12 hours.\n\nThis endpoint has no user session of its own: call it with an API key holding the\n`github:read` scope, or from a whitelisted first-party origin. A request with neither is\nrejected with `401`.\n",
        "responses": {
          "200": {
            "description": "GitHub stats fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GitHubStatsResponse" },
                "examples": {
                  "synced": {
                    "summary": "Stats available",
                    "value": {
                      "success": true,
                      "message": "GitHub stats fetched successfully",
                      "data": {
                        "projectName": "owner/repo",
                        "stats": {
                          "total": 120,
                          "issues": 70,
                          "pullRequests": 50,
                          "todo": 40,
                          "inProgress": 30,
                          "done": 50,
                          "completionRate": "41.67"
                        },
                        "syncedAt": "2026-04-26T10:00:00.000Z"
                      }
                    }
                  },
                  "neverSynced": {
                    "summary": "No sync has run yet",
                    "value": {
                      "success": true,
                      "message": "GitHub stats fetched successfully",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/github/issues": {
      "get": {
        "tags": ["GitHub"],
        "operationId": "getGitHubIssues",
        "summary": "Get GitHub Issues",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "description": "Fetch paginated GitHub issues and pull requests with optional filters, from the last synced\nsnapshot rather than live from GitHub. Ordered by most recently updated. Returns an empty\npage when no sync has run yet.\n\nRequires the `github:read` scope when called with an API key.\n",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": { "type": "string", "enum": ["todo", "in-progress", "done"] },
            "description": "Derived at sync time — closed items and items labelled `done` map to `done`; items\nlabelled `in-progress`, `in progress`, or `active` map to `in-progress`; everything else\nis `todo`.\n"
          },
          {
            "in": "query",
            "name": "kind",
            "schema": { "type": "string", "enum": ["issue", "pull-request", "all"] },
            "description": "`all` is equivalent to omitting the filter."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 20 },
            "description": "Items per page. Values above 50 are rejected with `400`."
          },
          {
            "in": "query",
            "name": "offset",
            "schema": { "type": "integer", "minimum": 0, "default": 0 }
          },
          {
            "in": "query",
            "name": "page",
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "description": "1-based page index. An alternative to `offset`."
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50 },
            "description": "Alternative spelling of `limit`. Takes precedence over `limit` when both are sent."
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub issues fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GitHubIssuesResponse" },
                "example": {
                  "success": true,
                  "message": "GitHub issues fetched successfully",
                  "data": {
                    "items": [
                      {
                        "id": "gh-123456",
                        "number": 42,
                        "title": "Add new feature",
                        "status": "in-progress",
                        "kind": "issue",
                        "url": "https://github.com/owner/repo/issues/42",
                        "labels": ["enhancement"],
                        "createdAt": "2026-04-20T10:00:00.000Z",
                        "updatedAt": "2026-04-25T10:00:00.000Z"
                      }
                    ],
                    "total": 1,
                    "limit": 20,
                    "offset": 0,
                    "page": 1,
                    "pageSize": 20,
                    "totalPages": 1,
                    "hasMore": false,
                    "pagination": { "mode": "offset", "nextOffset": null, "nextCursor": null }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/api/v1/github/admin/sync": {
      "post": {
        "tags": ["GitHub"],
        "operationId": "syncGitHubStats",
        "security": [{ "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "(Admin) Sync GitHub",
        "description": "Manually triggers a GitHub sync. **Administrators only** — the caller's session email must\nmatch the configured `ADMIN_EMAIL`; an API key cannot reach this route.\n\nIncremental by default: only issues updated since the last sync are refetched. The run is\nguarded by a 10-minute Redis lock, so a concurrent attempt fails with `409` rather than\ndouble-syncing. The response is the updated sync record.\n",
        "responses": {
          "200": {
            "description": "Manual GitHub sync completed successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericSuccessResponse" },
                "example": {
                  "success": true,
                  "message": "Manual GitHub sync completed successfully",
                  "data": {
                    "id": "sync_123",
                    "projectName": "owner/repo",
                    "projectUrl": "https://github.com/owner/repo",
                    "issueCount": 120,
                    "onlyIssueCount": 70,
                    "prCount": 50,
                    "todoCount": 40,
                    "inProgressCount": 30,
                    "doneCount": 50,
                    "syncedAt": "2026-04-26T10:00:00.000Z",
                    "nextSyncAt": "2026-04-26T22:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": {
            "description": "The authenticated user is not the configured administrator.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "statusCode": 403, "message": "Forbidden" }
              }
            }
          },
          "409": {
            "description": "A sync is already running.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 409,
                  "message": "GitHub sync is already in progress"
                }
              }
            }
          },
          "502": {
            "description": "The GitHub API could not be reached, or kept returning a retryable error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 502,
                  "message": "GitHub API communication failed"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/email-otp/send-verification-otp": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "sendOTP",
        "summary": "Send OTP",
        "description": "Emails a one-time password to the given address.\n\nAuthentication is handled by **Better Auth**, mounted at `/api/v1/auth`. Its endpoints return\nBetter Auth's own payloads — they are **not** wrapped in the `{ success, message, data }`\nenvelope the rest of this API uses.\n\nRate limited to 3 requests per minute per IP.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "type"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "type": {
                    "type": "string",
                    "enum": ["sign-in", "email-verification", "forget-password"],
                    "description": "Required. Use `sign-in` for the login flow — that is what the VeriWorkly\ndashboard sends.\n"
                  }
                }
              },
              "example": { "email": "user@example.com", "type": "sign-in" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent. Returns `{ \"success\": true }` whether or not the address maps to an existing\naccount, so this endpoint cannot be used to enumerate registered emails.\n",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "success": { "type": "boolean" } } },
                "example": { "success": true }
              }
            }
          },
          "400": { "description": "Missing or malformed email address." },
          "429": { "description": "Too many OTP requests — 3 per minute per IP." }
        }
      }
    },
    "/api/v1/auth/sign-in/email-otp": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "verifyOTP",
        "summary": "Sign In With Email OTP",
        "description": "Exchanges a valid OTP for a session. On success the session cookie is set via `Set-Cookie`\nand the session token plus the user record are returned.\n\nA user is created automatically on first sign-in. Codes expire after 5 minutes and allow 3\nattempts by default. This endpoint returns Better Auth's payload, not the\n`{ success, message, data }` envelope.\n\nRate limited to 20 requests per minute per IP — the default for `/api/v1/auth/*`. (A tighter\n5/minute rule exists in configuration but targets `/email-otp/verify-otp`, a path this Better\nAuth version does not expose, so it never applies.)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "otp"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "otp": { "type": "string" }
                }
              },
              "example": { "email": "user@example.com", "otp": "123456" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified. Sets the session cookie and returns the session token and user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["token", "user"],
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Session token for the authenticated session."
                    },
                    "user": { "type": "object", "additionalProperties": true }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The OTP is invalid, expired, or the attempt limit was exceeded."
          },
          "429": { "description": "Too many requests — 20 per minute per IP." }
        }
      }
    },
    "/api/v1/auth/get-session": {
      "get": {
        "tags": ["Authentication"],
        "operationId": "getSession",
        "summary": "Get Current Session",
        "security": [{ "LocalSession": [] }, { "ProdSession": [] }],
        "description": "Returns the active session and its user, based on the request's session cookie. Returns\n`null` rather than an error when no valid session cookie is present.\n\nThis endpoint returns Better Auth's payload, not the `{ success, message, data }` envelope.\n",
        "responses": {
          "200": {
            "description": "The active `{ session, user }` pair, or `null` when the caller has no valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "session": { "type": "object", "additionalProperties": true },
                        "user": { "type": "object", "additionalProperties": true }
                      }
                    },
                    { "type": "null" }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/sign-out": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "signOut",
        "summary": "Sign Out",
        "security": [{ "LocalSession": [] }, { "ProdSession": [] }],
        "description": "Revokes the current session and clears the session cookie. Also flushes the server-side\nsession cache for that cookie.\n\nThis endpoint returns Better Auth's payload, not the `{ success, message, data }` envelope.\n",
        "responses": {
          "200": {
            "description": "Signed out. Clears the session cookie.",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "success": { "type": "boolean" } } },
                "example": { "success": true }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys": {
      "get": {
        "tags": ["API Keys"],
        "operationId": "getAllApiKeys",
        "summary": "List API Keys",
        "description": "Lists the caller's API keys, newest first.\n\n**No form of the secret is returned here — not even a masked one.** Each entry carries only\n`keyPrefix`, the first 8 characters of the key, which is enough to tell keys apart in a list.\nIf you lose a secret, rotate the key.\n\nSession-authenticated only — an API key cannot be used to manage API keys.\n",
        "security": [{ "LocalSession": [] }, { "ProdSession": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 20 }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 0, "default": 0 }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "description": "1-based page index. An alternative to `offset`."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 50 },
            "description": "Alternative spelling of `limit`. Takes precedence over `limit` when both are sent."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of API keys.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiKeyListResponse" },
                "example": {
                  "success": true,
                  "message": "API keys fetched successfully",
                  "data": {
                    "items": [
                      {
                        "id": "cmnu7awv4000063lk18zpon2m",
                        "name": "My Documentation Key",
                        "keyPrefix": "vw_a1b2c",
                        "isActive": true,
                        "createdAt": "2026-04-11T10:37:35.584Z",
                        "lastUsed": "2026-04-25T19:35:44.409Z"
                      }
                    ],
                    "total": 1,
                    "limit": 20,
                    "offset": 0,
                    "page": 1,
                    "pageSize": 20,
                    "totalPages": 1,
                    "hasMore": false,
                    "pagination": { "mode": "offset", "nextOffset": null, "nextCursor": null }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      },
      "post": {
        "tags": ["API Keys"],
        "operationId": "createApiKey",
        "summary": "Create API Key",
        "description": "Generates a new API key. **The full secret is returned exactly once, in this response.** It\nis stored only as an HMAC-SHA256 hash and can never be retrieved again — save it immediately.\n\nSession-authenticated only — an API key cannot be used to mint API keys.\n",
        "security": [{ "LocalSession": [] }, { "ProdSession": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A descriptive name for the API key.",
                    "example": "My Documentation Key"
                  },
                  "scopes": {
                    "type": "array",
                    "description": "Scopes granted to the new key. Defaults to `[\"user:read\"]` when omitted. Any\nvalue outside the listed set is rejected with `400`.\n",
                    "items": { "$ref": "#/components/schemas/ApiKeyScope" }
                  },
                  "rateLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "description": "Requests allowed per 15-minute window. Defaults to 20; values above 20 are\nsilently clamped down to 20 rather than rejected.\n",
                    "example": 20
                  },
                  "expiresAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO timestamp for expiry. Defaults to 365 days from creation when omitted — keys\nare never issued without an expiry.\n"
                  }
                }
              },
              "example": { "name": "My Documentation Key", "scopes": ["user:read", "resume:read"] }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiKeyCreateResponse" },
                "example": {
                  "success": true,
                  "message": "API key generated successfully. Please save it as it won't be shown again.",
                  "data": {
                    "id": "cmnu7awv4000063lk18zpon2m",
                    "key": "vw_3f2a1c9e8b7d6f5a4c3b2a1908f7e6d5c4b3a29180706f5e4d3c2b1a09f8e7d6",
                    "keyPrefix": "vw_3f2a1",
                    "keySuffix": "09f8e7d6",
                    "name": "My Documentation Key",
                    "userId": "cmnu7awv4000063lk18zpon2x",
                    "isActive": true,
                    "rateLimit": 20,
                    "scopes": ["user:read", "resume:read"],
                    "expiresAt": "2027-04-11T10:37:35.584Z",
                    "revokedAt": null,
                    "createdAt": "2026-04-11T10:37:35.584Z",
                    "updatedAt": "2026-04-11T10:37:35.584Z",
                    "lastUsed": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing name, an unsupported scope, or a malformed `rateLimit`/`expiresAt`.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missingName": {
                    "summary": "Name omitted",
                    "value": {
                      "success": false,
                      "statusCode": 400,
                      "message": "Key name is required"
                    }
                  },
                  "badScope": {
                    "summary": "Unsupported scope",
                    "value": {
                      "success": false,
                      "statusCode": 400,
                      "message": "Unsupported API key scope(s): billing:read"
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      }
    },
    "/api/v1/api-keys/{id}/rotate": {
      "post": {
        "tags": ["API Keys"],
        "operationId": "rotateApiKey",
        "summary": "Rotate API Key",
        "description": "Revokes the target key and issues a replacement in one transaction. The old secret stops\nworking immediately.\n\nEvery field in the body is optional — send `{}` to rotate the secret while carrying over the\nexisting name, scopes, and rate limit. As with creation, the new secret is returned exactly\nonce. The response also carries `rotatedFromId`, the id of the key that was replaced.\n\nOnly an active, unrevoked key can be rotated; anything else returns `404`.\n",
        "security": [{ "LocalSession": [] }, { "ProdSession": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the API key to rotate."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Replacement name. Carried over from the old key when omitted or blank."
                  },
                  "scopes": {
                    "type": "array",
                    "description": "Scopes for the replacement key. Carried over from the old key when omitted.",
                    "items": { "$ref": "#/components/schemas/ApiKeyScope" }
                  },
                  "rateLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "description": "Requests allowed per 15-minute window. Carried over when omitted; values above 20\nare silently clamped down to 20.\n"
                  },
                  "expiresAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "New expiry. Carried over from the old key when omitted, falling back to 365 days\nfrom now if the old key had none.\n"
                  }
                }
              },
              "example": {}
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key rotated successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiKeyCreateResponse" },
                "example": {
                  "success": true,
                  "message": "API key rotated successfully. Please save the new key immediately.",
                  "data": {
                    "id": "cmnu7awv4000063lk18zpon2n",
                    "key": "vw_9e8d7c6b5a4938271605f4e3d2c1b0a99887766554433221100ffeeddccbbaa9",
                    "keyPrefix": "vw_9e8d7",
                    "keySuffix": "ccbbaa9",
                    "name": "My Documentation Key",
                    "userId": "cmnu7awv4000063lk18zpon2x",
                    "isActive": true,
                    "rateLimit": 20,
                    "scopes": ["user:read", "resume:read"],
                    "expiresAt": "2027-04-11T10:37:35.584Z",
                    "revokedAt": null,
                    "createdAt": "2026-04-26T10:00:00.000Z",
                    "updatedAt": "2026-04-26T10:00:00.000Z",
                    "lastUsed": null,
                    "rotatedFromId": "cmnu7awv4000063lk18zpon2m"
                  }
                }
              }
            }
          },
          "400": {
            "description": "An unsupported scope, or a malformed `rateLimit`/`expiresAt`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "No active key with this ID belongs to the caller.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "API key not found or inactive"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys/{id}/revoke": {
      "post": {
        "tags": ["API Keys"],
        "operationId": "revokeApiKey",
        "summary": "Revoke API Key",
        "description": "Immediately disables an API key without deleting its record — `isActive` becomes false and\n`revokedAt` is stamped. The cached authentication record is purged at the same time, so the\nsecret stops working right away rather than after the cache expires.\n\nA revoked key cannot be reactivated; rotate or create a new one instead. `data` is `null` on\nsuccess.\n",
        "security": [{ "LocalSession": [] }, { "ProdSession": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the API key to revoke."
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NullDataResponse" },
                "example": {
                  "success": true,
                  "message": "API key revoked successfully",
                  "data": null
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "No key with this ID belongs to the caller.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "statusCode": 404, "message": "API key not found" }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys/{id}": {
      "get": {
        "tags": ["API Keys"],
        "operationId": "getApiKey",
        "summary": "Get API Key",
        "description": "Returns the full metadata record for one of the caller's keys — name, scopes, rate limit,\nexpiry, revocation state, and last-used timestamp.\n\n**The secret is not returned**, and cannot be: only an HMAC-SHA256 hash of it is stored. If\nyou have lost a key's value, rotate it. `keyPrefix` and `keySuffix` are the only fragments\nkept, and neither is enough to reconstruct the key.\n\nSession-authenticated only — an API key cannot be used to manage API keys.\n",
        "security": [{ "LocalSession": [] }, { "ProdSession": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the API key to fetch."
          }
        ],
        "responses": {
          "200": {
            "description": "API key fetched successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiKeyDetailResponse" },
                "example": {
                  "success": true,
                  "message": "API key fetched successfully",
                  "data": {
                    "id": "cmnu7bxq2000163lk4d1zqp8n",
                    "keyPrefix": "vw_a1b2c",
                    "keySuffix": "9f8e7d6",
                    "name": "CI pipeline",
                    "userId": "cmnu7awv4000063lk18zpon2m",
                    "isActive": true,
                    "rateLimit": 20,
                    "scopes": ["user:read", "resume:read"],
                    "expiresAt": "2027-04-11T10:37:35.584Z",
                    "revokedAt": null,
                    "createdAt": "2026-04-11T10:37:35.584Z",
                    "updatedAt": "2026-04-11T10:37:35.584Z",
                    "lastUsed": "2026-07-29T09:55:00.000Z"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "No key with this ID belongs to the caller.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "statusCode": 404, "message": "API key not found" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["API Keys"],
        "operationId": "deleteApiKey",
        "summary": "Delete API Key",
        "description": "Permanently removes an API key and its record. Use `POST /api-keys/{id}/revoke` instead if\nyou want to keep the audit trail.\n\n`data` is `null` on success.\n",
        "security": [{ "LocalSession": [] }, { "ProdSession": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the API key to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NullDataResponse" },
                "example": {
                  "success": true,
                  "message": "API key deleted successfully",
                  "data": null
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "No key with this ID belongs to the caller.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "statusCode": 404, "message": "API key not found" }
              }
            }
          }
        }
      }
    },
    "/api/v1/profiles/master": {
      "get": {
        "tags": ["Profile"],
        "operationId": "getMasterProfile",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Get Master Profile",
        "description": "Retrieves the authenticated user's master profile along with an account summary. Requires the\n`resume:read` scope when called with an API key.\n\nWhen the user has never saved a profile, this still returns `200` with a placeholder whose\n`id` is an empty string and whose `content` is `{}` — it does not return `404`. Cached for\n1 hour and invalidated on write.\n",
        "responses": {
          "200": {
            "description": "Master profile fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MasterProfileResponse" },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true,
                      "message": "Master profile fetched successfully",
                      "data": {
                        "profile": {
                          "id": "profile_123",
                          "userId": "user_123",
                          "content": {},
                          "createdAt": "2026-04-01T10:00:00.000Z",
                          "updatedAt": "2026-04-10T10:00:00.000Z"
                        },
                        "summary": {
                          "id": "user_123",
                          "name": "Admin",
                          "email": "admin@example.com",
                          "createdAt": "2026-04-01T10:00:00.000Z",
                          "emailVerified": true,
                          "autoSyncEnabled": false,
                          "shareResumeCount": 4
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "statusCode": 404, "message": "User not found" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Profile"],
        "operationId": "updateMasterProfile",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Update Master Profile",
        "description": "Replaces the authenticated user's master profile. Requires the `resume:write` scope when\ncalled with an API key.\n\n**This is a full replacement, not a patch.** `profile` is validated strictly: every property\nof `MasterProfileContent` must be present, and any key not in the schema is rejected. Send\nempty arrays for sections you have no data for. Read the profile first, modify the object you\ngot back, and send the whole thing.\n\nPass the `updatedAt` you last read as `expectedUpdatedAt` for optimistic concurrency; omit it\nonly when creating the profile for the first time. The example below is a complete minimal\npayload that validates.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MasterProfileUpdateRequest" },
              "example": {
                "expectedUpdatedAt": "2026-04-10T10:00:00.000Z",
                "profile": {
                  "templateId": "modern",
                  "basics": {
                    "fullName": "John Doe",
                    "role": "Software Engineer",
                    "headline": "Building scalable systems",
                    "email": "john@example.com",
                    "phone": "9876543210",
                    "location": "India",
                    "linkEmail": true,
                    "linkPhone": false,
                    "linkLocation": false
                  },
                  "links": { "displayMode": "icon", "items": [] },
                  "summary": "Backend engineer focused on distributed systems.",
                  "experience": [],
                  "education": [],
                  "projects": [],
                  "skills": [],
                  "languages": [],
                  "interests": [],
                  "awards": [],
                  "certificates": [],
                  "publications": [],
                  "volunteer": [],
                  "references": [],
                  "achievements": [],
                  "customSections": [],
                  "sections": [],
                  "customization": {
                    "accentColor": "#2563eb",
                    "textColor": "#111827",
                    "mutedTextColor": "#6b7280",
                    "pageBackgroundColor": "#ffffff",
                    "sectionBackgroundColor": "#ffffff",
                    "borderColor": "#e5e7eb",
                    "sectionHeadingColor": "#111827",
                    "fontFamily": "Inter",
                    "sectionSpacing": 16,
                    "pagePadding": 40,
                    "bodyLineHeight": 1.5,
                    "headingLineHeight": 1.2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Master profile updated successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MasterProfileUpdateResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "409": {
            "description": "Conflict - profile updated elsewhere",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 409,
                  "message": "Master profile was updated from another session. Refresh and retry."
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 413,
                  "message": "Master profile payload is too large"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/profiles/import/quota": {
      "get": {
        "tags": ["Profile Import"],
        "operationId": "getImportQuota",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Get Profile Import Quota",
        "description": "Returns the caller's current GitHub and LinkedIn import quota status in one call.\n\n- **GitHub import** is a real GitHub OAuth-backed integration (up to 30 of the account's most\n  recently updated repositories, deterministically mapped to skills by repository language —\n  no AI is involved). Free users get 1 import/day and may only import their own OAuth-connected\n  GitHub account. Paid users (any active AI Credits or Portfolio Pro/Bundle plan) may import\n  any public GitHub username, but are still capped at a hidden 50 imports/day — this protects\n  the single shared `config.github.token` request budget used by every paid import and the\n  GitHub sync cron job from being exhausted by one account.\n- **LinkedIn import** is not a LinkedIn API integration — it's an AI parse of raw text the\n  user pastes in (copied profile text, or text extracted from an exported PDF). Free users get\n  1 import/month; paid users get unlimited imports.\n\nBoth import types share a single `replaceMaster` request flag and always create a brand-new\nRESUME document from the imported data, in addition to optionally overwriting the master\nprofile.\n",
        "responses": {
          "200": {
            "description": "Quota status fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProfileImportQuotaResponse" },
                "example": {
                  "success": true,
                  "message": "Quota status fetched successfully",
                  "data": {
                    "github": {
                      "isPaid": false,
                      "remaining": 1,
                      "limit": 1,
                      "resetsInSeconds": 0,
                      "connectedUsername": "octocat"
                    },
                    "linkedin": {
                      "isPaid": false,
                      "remaining": 1,
                      "limit": 1,
                      "resetsInSeconds": 0,
                      "connectedUsername": null
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      }
    },
    "/api/v1/profiles/import/github": {
      "post": {
        "tags": ["Profile Import"],
        "operationId": "importGithub",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Import Profile From GitHub",
        "description": "Imports a GitHub profile and repositories directly via the GitHub REST API (no AI parsing) and\ncreates a new RESUME document from the result. Free users can only import their own\nOAuth-connected GitHub account (`usernameOrUrl` is ignored in that case); paid users may import\nany public username, subject to the hidden 50/day shared-token cap described on\n`GET /profiles/import/quota`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ImportGithubRequest" },
              "example": { "usernameOrUrl": "octocat", "replaceMaster": false }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GitHub profile imported successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProfileImportResponse" },
                "example": {
                  "success": true,
                  "message": "GitHub profile imported successfully",
                  "data": {
                    "id": "doc_123",
                    "userId": "user_123",
                    "type": "RESUME",
                    "title": "GitHub Import (octocat)",
                    "slug": "github-import-octocat",
                    "tags": [],
                    "content": {},
                    "templateId": "executive-clarity",
                    "schemaVersion": 1,
                    "revision": 1,
                    "visibility": "PRIVATE",
                    "createdAt": "2026-04-01T10:00:00.000Z",
                    "updatedAt": "2026-04-01T10:00:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Free user has no connected GitHub account, or a validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 400,
                  "message": "Please connect your GitHub account in settings to import your profile."
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "GitHub profile not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "GitHub profile for \"octocat\" not found or API call failed."
                }
              }
            }
          },
          "429": {
            "description": "Import quota exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "freeDailyLimit": {
                    "summary": "Free-tier daily limit",
                    "value": {
                      "success": false,
                      "statusCode": 429,
                      "message": "Free users can only import from GitHub once a day. Upgrade to Creator Pro for unlimited imports."
                    }
                  },
                  "paidSharedCap": {
                    "summary": "Paid hidden shared-token cap",
                    "value": {
                      "success": false,
                      "statusCode": 429,
                      "message": "You've reached the daily limit of 50 GitHub imports. This protects the shared GitHub API budget used by all users. Please try again tomorrow."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/profiles/import/linkedin": {
      "post": {
        "tags": ["Profile Import"],
        "operationId": "importLinkedin",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Import Profile From LinkedIn",
        "description": "Parses raw copy-pasted LinkedIn profile text (or text extracted from an exported PDF) using AI\nand creates a new RESUME document from the result. This is an AI-parsed paste, not a LinkedIn\nAPI integration. Free users get 1 import/month; paid users (AI Credits or Portfolio Pro/Bundle)\nget unlimited imports.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ImportLinkedinRequest" },
              "example": {
                "profileText": "Jane Doe\nSoftware Engineer at Acme Corp\n...",
                "replaceMaster": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "LinkedIn profile imported successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProfileImportResponse" },
                "example": {
                  "success": true,
                  "message": "LinkedIn profile imported successfully",
                  "data": {
                    "id": "doc_124",
                    "userId": "user_123",
                    "type": "RESUME",
                    "title": "LinkedIn Import",
                    "slug": "linkedin-import",
                    "tags": [],
                    "content": {},
                    "templateId": "executive-clarity",
                    "schemaVersion": 1,
                    "revision": 1,
                    "visibility": "PRIVATE",
                    "createdAt": "2026-04-01T10:00:00.000Z",
                    "updatedAt": "2026-04-01T10:00:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 400,
                  "message": "Validation failed",
                  "details": [
                    {
                      "path": "profileText",
                      "message": "LinkedIn profile text must be at least 10 characters long"
                    }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "429": {
            "description": "Import quota exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 429,
                  "message": "Free users can only import from LinkedIn once a month. Upgrade to Creator Pro for unlimited imports."
                }
              }
            }
          },
          "502": {
            "description": "AI parsing failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 502,
                  "message": "Failed to parse profile data using AI. Please try again."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/documents": {
      "get": {
        "tags": ["Documents"],
        "operationId": "listDocuments",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "List Documents",
        "description": "Lists the authenticated user's documents (resumes, cover letters, portfolios, link-in-bio\npages), optionally filtered by type. Soft-deleted documents are excluded.\n",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["RESUME", "COVER_LETTER", "PORTFOLIO", "LINK_IN_BIO"]
            },
            "description": "Filter documents by type."
          }
        ],
        "responses": {
          "200": {
            "description": "Documents fetched successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DocumentListResponse" },
                "example": {
                  "success": true,
                  "message": "Documents fetched successfully",
                  "data": [
                    {
                      "id": "doc_123",
                      "userId": "user_123",
                      "type": "RESUME",
                      "title": "My Resume",
                      "slug": "my-resume",
                      "tags": [],
                      "content": {},
                      "metadata": {},
                      "templateId": "modern",
                      "schemaVersion": 1,
                      "revision": 1,
                      "visibility": "PRIVATE",
                      "lastSyncedAt": "2026-04-20T10:00:00.000Z",
                      "createdAt": "2026-04-01T10:00:00.000Z",
                      "updatedAt": "2026-04-20T10:00:00.000Z",
                      "deletedAt": null
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      },
      "post": {
        "tags": ["Documents"],
        "operationId": "createDocument",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Create Document",
        "description": "Creates a new document. If no `content` is provided for a RESUME or COVER_LETTER, it is\nauto-seeded from the user's MasterProfile (when one exists). Free-tier users are limited to\n1 active document per type; upgrading removes that limit.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DocumentCreateRequest" },
              "example": { "type": "RESUME", "title": "My Resume" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created successfully",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/DocumentResponse" } }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": {
            "description": "Free-tier document limit reached",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 403,
                  "message": "Free users can only have 1 active resume at a time. Upgrade to Creator Pro for unlimited documents."
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 413,
                  "message": "Document content payload is too large"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/documents/{id}": {
      "get": {
        "tags": ["Documents"],
        "operationId": "getDocument",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Get Document",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Document fetched successfully",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/DocumentResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "Document not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "statusCode": 404, "message": "Document not found" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Documents"],
        "operationId": "updateDocument",
        "security": [{ "ApiKeyAuth": [] }, { "LocalSession": [] }, { "ProdSession": [] }],
        "summary": "Update Document",
        "description": "Updates a document using optimistic concurrency control: `revision` must match the\ndocument's current revision or the request fails with `409`.\n",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DocumentUpdateRequest" },
              "example": { "title": "Updated Resume Title", "revision": 1 }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/DocumentResponse" } }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "Document not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "statusCode": 404, "message": "Document not found" }
              }
            }
          },
          "409": {
            "description": "Revision mismatch, or slug conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "revisionMismatch": {
                    "summary": "Optimistic concurrency conflict",
                    "value": {
                      "success": false,
                      "statusCode": 409,
                      "message": "Revision mismatch. Client: 1, Server: 2"
                    }
                  },
                  "slugConflict": {
                    "summary": "Slug already in use",
                    "value": {
                      "success": false,
                      "statusCode": 409,
                      "message": "Document slug is already in use"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "statusCode": 413,
                  "message": "Document content payload is too large"
                }
              }
            }
          }
        }
[...]
