{
  "openapi": "3.0.4",
  "info": {
    "title": "VeriWorkly API",
    "version": "3.4.0",
    "description": "Privacy-first, local-first API for building and managing professional resumes. This API supports document synchronization, master profile management, public sharing, api keys, and system statistics.",
    "contact": {
      "name": "VeriWorkly Support",
      "email": "info@veriworkly.com",
      "url": "https://veriworkly.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/VeriWorkly/veriworkly/blob/master/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.veriworkly.com/api/v1",
      "description": "Production API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Standard Bearer token (API Key) for programmatic authentication."
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "Session cookie generated by Better Auth."
      }
    },
    "schemas": {
      "Document": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "type": { "type": "string", "enum": ["RESUME", "COVER_LETTER", "PORTFOLIO"] },
          "content": { "type": "object" },
          "templateId": { "type": "string" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "MasterProfile": {
        "type": "object",
        "properties": {
          "basics": { "type": "object" },
          "sections": { "type": "array" },
          "metadata": { "type": "object" }
        }
      },
      "RoadmapItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "status": { "type": "string", "enum": ["TODO", "IN_PROGRESS", "DONE"] },
          "priority": { "type": "integer" }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "prefix": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }, { "cookieAuth": [] }],
  "paths": {
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health Check",
        "description": "Check the health status of the API and its dependencies.",
        "security": [],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/github/stats": {
      "get": {
        "tags": ["GitHub"],
        "summary": "GitHub Stats",
        "responses": { "200": { "description": "GitHub metrics" } }
      }
    },
    "/github/issues": {
      "get": {
        "tags": ["GitHub"],
        "summary": "GitHub Issues",
        "responses": { "200": { "description": "Open issues" } }
      }
    },
    "/github/admin/sync": {
      "post": {
        "tags": ["GitHub"],
        "summary": "Sync GitHub (Admin)",
        "responses": { "200": { "description": "Sync started" } }
      }
    },
    "/roadmap": {
      "get": {
        "tags": ["Roadmap"],
        "summary": "List Roadmap Items",
        "security": [],
        "responses": { "200": { "description": "Roadmap items" } }
      }
    },
    "/roadmap/stats": {
      "get": {
        "tags": ["Roadmap"],
        "summary": "Roadmap Stats",
        "security": [],
        "responses": { "200": { "description": "Roadmap counts" } }
      }
    },
    "/documents": {
      "get": {
        "tags": ["Documents"],
        "summary": "List Documents",
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["Documents"],
        "summary": "Create Document",
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/documents/{id}": {
      "get": {
        "tags": ["Documents"],
        "summary": "Get Document",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "patch": {
        "tags": ["Documents"],
        "summary": "Update Document",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Updated" } }
      },
      "delete": {
        "tags": ["Documents"],
        "summary": "Delete Document",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/profiles/master": {
      "get": {
        "tags": ["Profiles"],
        "summary": "Get Master Profile",
        "responses": { "200": { "description": "Success" } }
      },
      "put": {
        "tags": ["Profiles"],
        "summary": "Update Master Profile",
        "responses": { "200": { "description": "Updated" } }
      }
    },
    "/shares": {
      "post": {
        "tags": ["Shares"],
        "summary": "Create Share Link",
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/shares/{token}": {
      "get": {
        "tags": ["Shares"],
        "summary": "Get Public Share",
        "security": [],
        "parameters": [
          { "name": "token", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/shares/{token}/verify": {
      "post": {
        "tags": ["Shares"],
        "summary": "Verify Share Token",
        "security": [],
        "parameters": [
          { "name": "token", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Verified" } }
      }
    },
    "/shares/documents/{documentId}": {
      "get": {
        "tags": ["Shares"],
        "summary": "List Links for Document",
        "parameters": [
          { "name": "documentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/shares/documents/{documentId}/links/{shareLinkId}": {
      "delete": {
        "tags": ["Shares"],
        "summary": "Revoke Share Link",
        "parameters": [
          { "name": "documentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "shareLinkId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "204": { "description": "Revoked" } }
      }
    },
    "/api-keys": {
      "get": {
        "tags": ["API Keys"],
        "summary": "List API Keys",
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["API Keys"],
        "summary": "Create API Key",
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/api-keys/{id}": {
      "delete": {
        "tags": ["API Keys"],
        "summary": "Delete API Key",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/api-keys/{id}/rotate": {
      "post": {
        "tags": ["API Keys"],
        "summary": "Rotate API Key",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Rotated" } }
      }
    },
    "/api-keys/{id}/revoke": {
      "post": {
        "tags": ["API Keys"],
        "summary": "Revoke API Key",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Revoked" } }
      }
    },
    "/users/me": {
      "get": {
        "tags": ["Users"],
        "summary": "Current User Info",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/users/me/name": {
      "put": {
        "tags": ["Users"],
        "summary": "Update Display Name",
        "responses": { "200": { "description": "Updated" } }
      }
    },
    "/stats/events": {
      "post": {
        "tags": ["Stats"],
        "summary": "Record Event",
        "security": [],
        "responses": { "202": { "description": "Accepted" } }
      }
    },
    "/stats/admin/dashboard": {
      "get": {
        "tags": ["Stats"],
        "summary": "Dashboard Data (Admin)",
        "responses": { "200": { "description": "Success" } }
      }
    }
  }
}
